@model MvcTicariOtomasyon.Models.Classes.SaleMovement
@{
    ViewBag.Title = "NewSale";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Satış Ekle</h2>
<br />

<form class="form-group" method="post">
    <p>Ürünler</p>
    @Html.DropDownListFor(x => x.Productid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control"})
    <br />
    <p>Müşteri</p>
    @Html.DropDownListFor(x => x.Customerid, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control"})
    <br />
    <p>Personel</p>
    @Html.DropDownListFor(x => x.Employeeid, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control"})
    <br />
    <p>Adet</p>
    @Html.TextBoxFor(x => x.SaleMovementUnit, new { @class = "form-control" })
    <br />
    <p>Satış Fiyatı</p>
    @Html.TextBoxFor(x => x.SaleMovementPrice, new { @class = "form-control" })
    <br />
    <p>Toplam Fiyat</p>
    @Html.TextBoxFor(x => x.SaleMovementTotalPrice, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Ekle</button>
</form>


